body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.contener,
.contener-win,
.contener-loosers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    height: 100vh;
}

.motSecret {
    display: inline-block;
    letter-spacing: 10px;
}

.demo {
    display: none;
}

.boxInput {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.inputLetter .okLetter {
    margin-top: 10px;
}

.inputLetter:focus {
    border-color: #6b7280;
}

.ionicon {
    width: 30px;
    display: inline-block;
    height: 30px;
    fill: red;
    margin-bottom: 10px;
}